<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-6 col-xs-12">
                <div class="footer-widget">
                    <p class="copyright">© <?php echo date('Y'); ?> StoresHere.com -  All Rights Reserved</p>
                </div>
            </div>
            <div class="col-md-7 col-sm-8 col-xs-12">
                <div class="footer-widget">
                    <ul class="footer-buttons">
                        <li>
                            <a href="tel:+14088907359" id="contact">
                                <span>For information, text (408) 890-7359</span>
                            </a>
                        </li>
                        <li>
                           <!-- <a href="tel:800.123.4567"> -->
                            <a href="https://www.storeshere.com/contact" >
                                <span>Contact us for questions or inquiries</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
<?php if(isset($scripts) && !empty($scripts)) :?>
    <?php foreach($scripts as $k => $v) :?>
<script type="text/javascript" src="<?php echo base_url($this->template->get_theme_path()).'/js/'.$v; ?>"></script>
    <?php endforeach; ?>    
<?php endif; ?>