<div class="signup-button-wrap2 fl-left">
    <div class="spacer10"></div>
    <a href="<?php echo base_url().'profile'; ?>" id="myAccount" class="showDiv">
        MY ACCOUNT
    </a>
    <div class="spacer10"></div>
    <a id="changePass" class="showDiv side-nav-title">
        CHANGE PASSWORD
    </a>
    <div class="spacer10"></div>
    <a id="addInmates" class="showDiv side-nav-title">
        ADD INMATES
    </a>    
    <div class="spacer10"></div>
    <a id="inmatesList" class="showDiv side-nav-title">
        Inmates List
    </a>
    <div class="spacer10"></div>
    <a id="fundList" class="showDiv side-nav-title">
        FUNDS PREVIOUSLY SENT
    </a>
    <div class="spacer10"></div>
    <a id="ordersList" class="showDiv side-nav-title">
        PHOTOS PREVIOUSLY SENT
    </a>
</div>
<div class="clearfix"></div>